@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color:black !important;
}

.brand-logo,h2{
    font-family: 'Grand Hotel', cursive;
  }

  .mycard{
    margin-top: 30px;
  }
  .auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .item{
    width: 30%;
  }
.home{

}
  .home-card{
    max-width: 500px;
    height: max-content;
    margin:26px auto;
  }

  .collection-item{
    width: 100%;
  }
  #toast-container{
    top:30px !important;
    right:20px !important;
    left: auto !important
  }

/* Inside your app.css file */

/* Default styles for the navigation bar */
.nav-wrapper {
  padding: 0 20px; /* Adjust padding for normal screens */
}

.brand-logo {
  margin-left: 20px; /* Adjust margin for normal screens */
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .nav-wrapper {
    padding: 0 10px; /* Adjust padding for small screens */
  }

  .brand-logo {
    margin-left: 10px; /* Adjust margin for small screens */
  }

  /* Add any additional responsive styles for small screens here */
}

/* Add more media queries for medium and large screens if needed */


  /* Add this CSS to your existing styles or in a separate CSS file */

/* For small screens */
@media only screen and (max-width: 600px) {
  .nav-wrapper {
    padding: 0 10px; /* Adjust the padding for smaller screens */
  }

  .brand-logo {
    margin-left: 10px; /* Adjust the margin for smaller screens */
  }

  /* Add any additional styles for small screens here */
}

/* For medium screens */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .nav-wrapper {
    padding: 0 20px; /* Adjust the padding for medium screens */
  }

  .brand-logo {
    margin-left: 20px; /* Adjust the margin for medium screens */
  }

  /* Add any additional styles for medium screens here */
}

/* For large screens */
@media only screen and (min-width: 993px) {
  .nav-wrapper {
    padding: 0 40px; /* Adjust the padding for large screens */
  }

  .brand-logo {
    margin-left: 40px; /* Adjust the margin for large screens */
  }

  /* Add any additional styles for large screens here */
}

/* Additional responsive styles can be added for specific components or elements as needed */
